<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>商品列表</title>
<style>
.table-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 每行三列，每列平均占据父容器宽度 */
	grid-gap: 20px; /* 单元格之间的间距 */
}

table {
	flex-basis: 30%;
}
</style>
</head>
<body>
	<h1>商品列表</h1>

	<div class="table-container">
		<table>
			<tr>
				<th></th>
			</tr>
			<tr th:each="camera, cameraIndex : ${page.content}">
				<td><img width="200px" th:src="@{'/downloadcameraImage/' + ${camera.productID}}"><br>
        <span th:id="'model_'+${camera.productID}" th:text="${camera.cameraModel}"></span><span th:id="'brand_'+${camera.productID}" th:text="${camera.cameraBrand}"></span><br>
        <span th:id="'price_'+${camera.productID}" th:text="${camera.cameraPrice}"></span><br>
        <button th:id="${camera.productID}" th:onclick="addToCart([[${camera.productID}]])">加入購物車</button>
        </td>
				<!-- 每三个单元格结束时添加换行 -->
			</tr>
		</table>
	</div>

	<!-- 分頁連結 -->

	<ul class="pagination">

		<th:block th:switch="${page.number != 0}">

			<li th:case=${true} class="page-item"><a class="page-link"
				th:href="@{/products/camerashop?(p=${page.number})}">上一頁</a></li>

			<li th:case=${false} class="page-item disable"><span
				class="page-link">上一頁</span></li>
		</th:block>

		<th:block
			th:each=" pageNumber : ${#numbers.sequence(1, page.totalPages)}">
			<th:block th:switch="${page.number != pageNumber - 1 }">
				<li th:case=${true} class="page-item"><a class="page-link"
					th:href="@{/products/camerashop?(p=${pageNumber})}">[[${pageNumber}]]</a>
				</li>
				<li th:case=${false} class="page-item active"><span
					class="page-link" th:text="${pageNumber}"></span></li>
			</th:block>
		</th:block>

		<th:block th:switch="${page.number == page.totalPages -1}">
			<li th:case="${true}" class="page-item"><span class="page-link">最後一頁了兄弟</span>
			</li>

			<li th:case="${false}" class="page-item"><a class="page-link"
				th:href="@{/products/camerashop?(p=${page.number + 2})}">下一頁</a></li>
		</th:block>

	</ul>
	
<div id="cartContainer">
  <h2>购物车</h2>
  <ul id="cartItems"></ul>
  <p id="totalPrice">总价格: $0</p>
  <button onclick="clearCart()">清空购物车</button>
</div>
</body>
<script th:src="@{/forestage/product/js/productlist.js}"></script>
</html>
