<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title> 瀏覽攝影服務 </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/forestage/photoService/css/styles.css}" rel="stylesheet" />

    <style>
        .carousel-inner {
            overflow: hidden;
            /* object-fit: scale-down; */
        }

        .carousel-item {
            background-color: rgb(167, 249, 207);
            overflow: hidden;
            /* padding: 5px; */
            /* border-radius: 5px; */
        }

        .carousel-desc {
            position: absolute;

        }

        .sclDwn {
            width: 850px;
            height: 350px;
            object-fit: scale-down;
        }

        .sticky-side-tool {
            position: sticky;
            top: 5%;
        }

        .deletedPS {
            text-decoration: line-through;
        }
    </style>
    <style th:replace="~{forestage/photoService/thymeleafTemplates :: templateCSS}"></style>
</head>

<body>
    <!-- Responsive navbar-->
    <div th:replace="~{forestage/shared/foreTopNav}"></div>

    <!-- Page header with logo and tagline-->
    <header class="py-1 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-1">
                <h1 class="fw-bolder">歡迎來到影遇的攝影媒合平台</h1>
                <span class="lead mb-0">以下是目前所有會員提供的攝影服務</span>
            </div>
        </div>
    </header>

    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8" id="photoService-container">

                <!-- Featured blog post-->

                <th:block th:each="oneBean : ${resultPage.content}">

                    <div class="card mb-4" id="card-top">
                        <a th:href="@{/photoService/ReadOne(serviceID=${oneBean.serviceID})}">
                            <div class="carousel-card" th:data-serviceid="${oneBean.serviceID}">
                                <div class="position-absolute top-50 start-50 translate-middle">尚未上傳參考圖片</div>
                                <img class="card-img-top sclDwn" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="..." />
                            </div>
                        </a>
                        <div class="card-body">
                            <div class="small text-muted" th:text="${oneBean.formattedCreatedOn}+'  由  '+${oneBean.serviceCreator.memberName}+'  建立'"></div>
                            <div class="d-flex justify-content-between">
                                <h2><a th:classappend="${oneBean.serviceDeleted}==1?'deletedService':_" th:href="@{/photoService/ReadOne?(serviceID=${oneBean.serviceID})}" class="card-title" th:text="${oneBean.serviceName}"></a><span th:if="${oneBean.serviceDeleted}==1" style="font-style: italic;"> [已刪除]</span></h2>
                                <span class="align-self-center card-text" th:text="'地點：' + ${oneBean.serviceLocation}"></span>
                            </div>
                            <p class="card-text" th:text="${oneBean.serviceType.typeName} + ' ' + ${oneBean.serviceLocation}"></p>
                            <a class="btn btn-primary" th:href="@{/photoService/ReadOne?(serviceID=${oneBean.serviceID})}">詳細資訊 →</a>
                        </div>
                    </div>

                </th:block>


                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />

                    <ul class="pagination justify-content-center my-4">
                        <th:block th:switch="${resultPage.number==0}">
                            <li th:case=${true} class="page-item disabled">
                                <a class="page-link">上一頁</a>
                            </li>

                            <li th:case=${false} class="page-item">
                                <a class="page-link" th:href="@{/photoService/ReadAll?(page=${resultPage.number})}">上一頁</a>
                            </li>
                        </th:block>

                        <th:block th:each="pageNumber:${#numbers.sequence(1,resultPage.totalPages)}">

                            <th:block th:switch="${resultPage.number==pageNumber-1}">
                                <li th:case=${true} class="page-item">
                                    <span class="page-link active" th:text=${pageNumber}></span>
                                </li>
                                <li th:case=${false} class="page-item">
                                    <a class="page-link" th:href="@{/photoService/ReadAll(page=${pageNumber})}">[[${pageNumber}]]</a>
                                </li>
                            </th:block>

                        </th:block>


                        <th:block th:switch="${resultPage.number==resultPage.totalPages-1}">
                            <li th:case=${true} class="page-item disabled">
                                <a class="page-link">下一頁</a>
                            </li>

                            <li th:case=${false} class="page-item">
                                <a class="page-link" th:href="@{/photoService/ReadAll?(page=${resultPage.number+2})}">下一頁</a>
                            </li>
                        </th:block>

                    </ul>

                </nav>
            </div>

            <!-- Side widgets-->
            <div class="col-lg-4">
                <div th:replace="~{forestage/photoService/thymeleafTemplates :: stickey-side-widgets}"> </div>
            </div>

        </div>
    </div>
    <!-- Footer-->
    <div th:replace="~{forestage/shared/foreFooter}"></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/forestage/photoService/js/scripts.js}"></script>
    <script th:src="@{/forestage/photoService/js/axios.min.js}"></script>
    <script th:src="@{/forestage/photoService/js/readAllPhotoService.js}"></script>
</body>

</html>