<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>[[${resultBean.serviceName}]]</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{assets/favicon.ico}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <!-- the css line is already included in th:replace for Nav -->
    <!-- <link th:href="@{/forestage/photoService/css/styles.css}" rel="stylesheet" /> -->
    <script src="https://kit.fontawesome.com/d7f5a7fb92.js" crossorigin="anonymous"></script>
    <style>
        .sticky-side-tool {
            position: sticky;
            top: 5%;
        }

        .carousel-item {
            background-color: rgb(167, 249, 207);
            overflow: hidden;
            /* padding: 5px; */
            border-radius: 5px;
        }

        .sclDwn {
            width: 850px;
            height: 350px;
            object-fit: scale-down;
        }


        .btn-group {
            width: 100%;
        }

        .service-desc {
            font-style: italic;
            border-radius: 5px;
            background-color: lightgreen;
        }

        .pictureDeleteBtn {
            cursor: pointer;
            background-color: white;
            border-radius: 25px;
            display: inline;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 10;
            width: 50px;
            height: 50px;
            transition-duration: 500ms;
        }

        .pictureDeleteBtn:hover {
            background-color: #F33;
        }

        i.fa-trash {
            color: #f33;
            transition-duration: 500ms;
        }

        .pictureDeleteBtn:hover i.fa-trash {
            color: #fff;
        }

        .pendingForDelete {
            opacity: 0.5;
        }
    </style>
</head>

<body>
    <!-- Responsive navbar-->
    <div th:replace="~{forestage/shared/foreTopNav}"></div>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <div class="row">
                        <div class="col-1 m-auto ">
                            <a><i onclick="history.back()" class="fa-solid fa-circle-chevron-left fa-2xl" style="cursor: pointer;"></i></a>
                        </div>
                        <header class="mb-4 col">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">[[${resultBean.serviceName}]]</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">由 [[${resultBean.serviceCreator}]] 於 [[${resultBean.formattedCreatedOn}]] 建立</div>
                            <!-- Post categories-->


                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">[[${resultBean.serviceType}]]</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                    </div>
                    <!-- Preview image figure-->
                    <figure class="mb-4" id="carousel-figure">
                        <div th:id="@{'carousel-indicator-'+${resultBean.serviceID}}" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-indicators">
                                    <th:block th:each="oneRefPic,stat:${resultBean.referencePictures}">
                                        <button th:if="${stat.index==0}" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}" th:data-bs-slide-to="${stat.index}" class="active" aria-current="true" aria-label="Slide 1"></button>
                                        <button th:unless="${stat.index==0}" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}" th:data-bs-slide-to="${stat.index}" th:aria-label="'Slide '+${stat.index + 1}"></button>
                                    </th:block>
                                </div>
                                <th:block th:each="oneRefPic,stat:${resultBean.referencePictures}">
                                    <div class="p-1 carousel-item" th:classappend="${stat.index == 0 ? 'active' : ''}">
                                        <img class="d-block w-100 sclDwn" th:src="@{'data:image/jpeg;base64,'+${oneRefPic.encode64PictureFile}}" id="targetImg" />
                                    </div>
                                </th:block>
                            </div>
                            <button class="carousel-control-prev" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>


                        <!-- <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /> -->
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p id="serviceDesc" class="service-desc p-1" th:text="${resultBean.serviceDesc}" contenteditable="false"></p>
                    </section>
                </article>
            </div>



            <!-- Side widgets-->

            <div class="col-lg-4">
                <div th:replace="~{forestage/photoService/thymeleafTemplates :: stickey-side-widgets-readone}" id="ReadOneWidgets"> </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">更新服務資料</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row" id="update-ps-service-form">
                                <div class="col">

                                    <div style="display: none;">
                                        <input type="text" hidden="true" id="serviceID" name="serviceID" th:value="${resultBean.serviceID}">
                                    </div>

                                    <div class="mb-3">
                                        <label for="serviceName" class="form-label">服務名稱</label>
                                        <input type="text" class="form-control" id="serviceName" name="serviceName" aria-describedby="serviceNameHelp" th:value="${resultBean.serviceName}" autocomplete="false">
                                    </div>
                                    <div class="mb-3">
                                        <label for="servicePrice" class="form-label">服務價格</label>
                                        <input type="number" class="form-control" id="servicePrice" name="servicePrice" aria-describedby="serviceNameHelp" th:value="${resultBean.servicePrice}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="serviceDuration" class="form-label">預估時長</label> <span id="serviceNameHelp" class="form-text ms-5">請輸入預估需要的時間</span>
                                        <input type="text" class="form-control" id="serviceDuration" name="serviceDuration" aria-describedby="serviceNameHelp" th:value="${resultBean.serviceDuration}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="serviceLocation" class="form-label">服務地區</label>
                                        <input type="text" class="form-control" id="serviceLocation" name="serviceLocation" aria-describedby="serviceLocationHelp" th:value="${resultBean.serviceLocation}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="serviceLocation" class="form-label">服務描述</label> <span id="serviceLocationHelp" class="form-text ms-5">請輸入您提供服務的描述</span>
                                        <textarea class="form-control" id="serviceDesc" name="serviceDesc" aria-describedby="serviceLocationHelp" rows="6">[[${resultBean.serviceDesc}]]</textarea>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="serviceType" class="form-label">選擇服務類型</label>
                                        <select class="form-select" id="serviceTypeOptions" name="serviceType">
                                            <option selected>===== 請選擇 =====</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <!-- <label for="newReferencePictures">參考圖片</label> -->
                                        <figure class="mb-4" id="carousel-figure">
                                            <div th:id="@{'carousel-indicator-'+${resultBean.serviceID}}+'-modal'" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-indicators">
                                                        <th:block th:each="oneRefPic,stat:${resultBean.referencePictures}">
                                                            <button th:if="${stat.index==0}" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}+'-modal'" th:data-bs-slide-to="${stat.index}" class="active" aria-current="true" aria-label="Slide 1"></button>
                                                            <button th:unless="${stat.index==0}" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}+'-modal'" th:data-bs-slide-to="${stat.index}" th:aria-label="'Slide '+${stat.index + 1}"></button>
                                                        </th:block>
                                                    </div>

                                                    <th:block th:each="oneRefPic,stat:${resultBean.referencePictures}">
                                                        <div class="p-1 carousel-item" th:classappend="${stat.index == 0 ? 'active' : ''}" th:id="'carousel-in-modal-'+${oneRefPic.pictureID}">
                                                            <img class="d-block w-100 sclDwn img-fluid rounded" th:src="@{'data:image/jpeg;base64,'+${oneRefPic.encode64PictureFile}}" id="targetImg" />
                                                            <div class="pictureDeleteBtn d-flex justify-content-center align-items-center" th:data-existPictureID="${oneRefPic.pictureID}">
                                                                <i class="fa-solid fa-trash fa-2xl"></i>
                                                            </div>
                                                        </div>
                                                    </th:block>
                                                </div>
                                                <button class=" carousel-control-prev" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}+'-modal'" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" th:data-bs-target="'#carousel-indicator-'+${resultBean.serviceID}+'-modal'" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </figure>
                                        <input type="file" class="form-control" multiple="true" name="inputRefPics">
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" form="update-ps-service-form" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" form="update-ps-service-form" class="btn btn-primary" id="go-update-ps">更新資料</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <!-- Footer -->
    <div th:replace="~{forestage/shared/foreFooter}"></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/forestage/photoService/js/scripts.js}"></script>
    <script th:src="@{/forestage/photoService/js/axios.min.js}"></script>
    <script th:src="@{/forestage/photoService/js/readOnePhotoService.js}"></script>
</body>

</html>