<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>影遇論壇首頁</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap" rel="stylesheet">
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/forestage/forum/mainPage/css/styles.css}" rel="stylesheet" />
	<!-- 加入 jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<style>
		.card-img1 {
			object-fit: contain;
			/* 你可能還需要其他的CSS規則來控制大小，例如width、height等 */
		}
	</style>
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<!-- Navigation-->
		<div th:replace="~{forestage/shared/foreTopNav}"></div>
		<header class="bg-white py-4">
			<div class="container px-5">
				<!-- First row for the categories and search -->
				<div class="row gx-3 align-items-start justify-content-end">
					<!-- Search widget in its own column -->
					<div class="col-auto">
						<div class="input-group" style="width: auto; max-width: 300px;">
							<input class="form-control" type="text" placeholder="Enter search term..."
								aria-label="Enter search term..." aria-describedby="button-search" />
							<button class="btn btn-primary" id="button-search" type="button">Go!</button>
						</div>
					</div>
					<!-- First feature in its own column -->
					<div class="col-auto">
						<div class="mr-2">
							<ul class="list-unstyled mb-0">
								<li>
									<a th:href="@{/forum/article/add}">
										<img th:src="@{/forestage/forum/mainPage/assets/newArticle.png}" alt="新增貼文"
											width="125px" />
									</a>
								</li>
							</ul>
						</div>
					</div>
					<!-- Second feature in its own column -->
					<div class="col-auto">
						<div class="ml-2">
							<ul class="list-unstyled mb-0">
								<li>
									<a th:href="@{/myArticles}">
										<img th:src="@{/forestage/forum/mainPage/assets/myArticle.png}" alt="我的貼文"
											width="125px" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


				<!-- Second row for the article content -->
				<div class="row gx-5 align-items-start justify-content-between">
					<div class="col-lg-12">
						<!-- Navigation tabs -->
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" id="new-articles-link" aria-current="page" href="#">最新文章</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="hot-articles-link" href="#">熱門文章</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="page3.html">精選文章</a>
							</li>
							<!--<li class="nav-item">
								<a class="nav-link disabled">Disabled</a>
							</li>-->
						</ul>


						<!-- 新增的卡片程式碼部分 -->
						<div class="row mt-4"> <!-- 在這裡添加了 'mt-4'，這會產生一個上邊距（margin-top）-->
							<th:block th:each="article: ${articleList}">
								<div class="col-lg-12">
									<!-- Blog post-->
									<div class="card mb-4">
										<div class="row no-gutters">
											<div class="col-md-4 d-flex align-items-center">
												<!-- 加上 d-flex align-items-center 來使圖片置中 -->
												<a href="#!" class="d-block mx-auto"> <!-- 加上 d-block mx-auto 來使圖片置中 -->
													<img th:src="@{/forum/article/{articleId}/image(articleId=${article.articleId})}"
														alt="..." class="card-img1" style="object-fit: contain;" />
													<!-- 加上 object-fit: contain; 來使圖片維持原始比例 -->
												</a>
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<div class="text-muted" style="font-size: 18px;">
														發布於 <span
															th:text="${#dates.format(article.articlePostTime,'yyyy-MM-dd, HH:mm:ss')}"></span>
													</div>
													<h2 class="card-title h4"
														th:text="${article}?${article.articleTitle}">
													</h2>

													<!-- 要將CKEditor編輯器的內容正確顯示，而不只是純文字，可以在th:text標籤替換為th:utext。th:utext會將其內容作為未經過轉譯的HTML處理，而不是僅僅將其視為純文本 -->
													<p class="card-text"
														th:utext="${article}?${article.articleContent}">
													</p>


													<div style="text-align: right;">
														<a class="btn btn-primary btn-lg"
															th:href="@{'/forum/article/read/' + ${article.articleId}}">閱讀更多
															→</a>
													</div>


												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>


						<nav aria-label="Page navigation example">
							<ul class="pagination justify-content-end paginationByWen">
								<li class="page-item" th:classappend="${articleList.first ? 'disabled' : ''}">
									<a class="page-link"
										th:href="@{/forum/article/mainPage(page=${articleList.number-1})}"
										aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li class="page-item" th:each="item : ${#numbers.sequence(0, articleList.totalPages-1)}"
									th:classappend="${item==articleList.number ? 'active' : ''}">
									<a class="page-link" th:href="@{/forum/article/mainPage(page=${item})}"
										th:text="${item + 1}"></a>
								</li>
								<li class="page-item" th:classappend="${articleList.last ? 'disabled' : ''}">
									<a class="page-link"
										th:href="@{/forum/article/mainPage(page=${articleList.number+1})}"
										aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

	</main>
	<script>
		$(document).ready(function () {
			function loadArticles(url) {
				$.ajax({
					url: url,
					type: 'GET',
					data: {
						page: 0
					},
					success: function (data) {
						var articleListDiv = $('.row.mt-4');
						articleListDiv.empty();
						for (var i = 0; i < data.length; i++) {
							var article = data[i];

							var colDiv = $('<div class="col-lg-12"></div>');
							var articleDiv = $('<div class="card mb-4"></div>');
							var row = $('<div class="row no-gutters"></div>');
							var imgDiv = $('<div class="col-md-4 d-flex align-items-center"></div>');
							var aTag = $('<a href="#!" class="d-block mx-auto"></a>');
							var imgTag = $('<img class="card-img1" alt="..." style="object-fit: contain;">');
							imgTag.attr('src', 'data:image/png;base64,' + article.imageBase64);
							aTag.append(imgTag);
							imgDiv.append(aTag);
							row.append(imgDiv);

							var cardBodyDiv = $('<div class="col-md-8"><div class="card-body"></div></div>');
							var cardBody = cardBodyDiv.find('.card-body');
							cardBody.append('<div class="text-muted" style="font-size: 18px;">發布於 ' + article.articlePostTime + '</div>');

							var title = $('<h2 class="card-title h4"></h2>').html(article.articleTitle);
							cardBody.append(title);

							var content = $('<p class="card-text"></p>').html(article.articleContent);
							cardBody.append(content);

							var readMore = $('<div style="text-align: right;"><a class="btn btn-primary btn-lg">閱讀更多 →</a></div>');
							readMore.find('a').attr('href', '/phocos/forum/article/read/' + article.articleId);
							cardBody.append(readMore);

							row.append(cardBodyDiv);
							articleDiv.append(row);
							colDiv.append(articleDiv);
							articleListDiv.append(colDiv);
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						console.error(textStatus, errorThrown);
					}
				});
			}

			loadArticles('http://localhost:8080/phocos/forum/article/mainPage/ajax');

			$('#hot-articles-link').on('click', function (e) {
				e.preventDefault();
				$('button, .nav-link').removeClass('active');
				$(this).addClass('active');
				loadArticles('http://localhost:8080/phocos/forum/article/hotArticles');
			});

			$('#new-articles-link').on('click', function (e) {
				e.preventDefault();
				$('button, .nav-link').removeClass('active');
				$(this).addClass('active');
				loadArticles('http://localhost:8080/phocos/forum/article/mainPage/ajax');
			});

		});
	</script>

	<!-- Footer-->
	<div th:replace="~{forestage/shared/foreFooter}"></div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Core theme JS-->
	<script th:src="@{/forestage/forum/mainPage/js/scripts.js}"></script>
</body>

</html>