<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>論壇更新文章</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap" rel="stylesheet">
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/forestage/forum/mainPage/css/styles.css}" rel="stylesheet" />
	<style>
		.ck-editor__editable {
			min-height: 400px;
		}

		#drawArea div {
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	</style>

</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<div th:replace="~{forestage/shared/foreTopNav}"></div>
		<div class="container mt-5">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<h2 class="text-center" style="font-weight:bold;">更新文章</h2>
					<form th:action="@{/forum/article/update/{articleId}(articleId=${article.articleId})}"
						id="updateForm" method="POST" enctype="multipart/form-data">
						<div class="mb-3">
							<label for="articleTitle" class="form-label"
								style="background-color: rgba(251, 195, 188,0.5); font-size: 18px;">文章標題</label>
							<input type="text" class="form-control" id="articleTitle" name="articleTitle"
								th:value="${article.articleTitle}" placeholder="輸入文章標題">
						</div>
						<div class="mb-3">
							<label for="articleContent" class="form-label"
								style="background-color: rgba(251, 195, 188,0.5); font-size: 18px;">文章內容</label>
							<textarea class="form-control" id="articleContent" name="articleContent"
								style="background-color: rgba(251, 195, 188,0.5); font-size: 18px;">
			[[${article.articleContent}]]
		</textarea>
						</div>
						<div class="mb-3">
							<label for="hashtag" class="form-label"
								style="background-color: rgba(251, 195, 188,0.5);font-size: 18px;">Hashtag　提醒：以半形空格為分隔，例如"攝影
								分享 場地"如此輸入即可</label>
							<input type="text" class="form-control" id="hashtag" name="hashtag"
								th:value="${article.hashtag}" placeholder="輸入文章的Hashtag">
						</div>
						<div class="mb-3">
							<label for="articlePic" class="form-label"
								style="background-color: rgba(251, 195, 188,0.5); font-size: 18px;">上傳圖片</label>
							<input class="form-control" type="file" id="articlePic" name="articlePic"
								onchange="previewFile()" multiple>
							<div id="previewImage">
								<a href="#!" class="d-block mx-auto">
									<img th:src="@{/forum/article/{articleId}/image(articleId=${article.articleId})}"
										alt="..." class="card-img1"
										style="object-fit: contain; width: 200px; height: 200px;" />
								</a>
							</div>
						</div>

						<div class="row justify-content-center">
							<button type="submit" class="btn btn-primary m-2"
								style="font-size: 20px; width: 80px; padding: 10px 10px;">提交</button>
						</div>

					</form>

				</div>
				<div class="col-lg-4">
					<div class="card mb-4">
						<div class="card-header">
							<h2 class="text-center">我的小畫布</h2>
						</div>
						<div class="card-body" style="height: 500px;">
							<select id="colorSelector" class="form-select mb-2" style="width: 200px;">
								<option value="black">黑色</option>
								<option value="blue">藍色</option>
								<option value="red">紅色</option>
								<option value="green">綠色</option>
								<option value="yellow">黃色</option>
								<option value="orange">橘色</option>
								<option value="purple">紫色</option>
								<option value="pink">粉紅色</option>
								<option value="brown">棕色</option>
								<option value="gray">灰色</option>
							</select>
							<div id="drawArea"
								style="height: 350px; width: 350px; border: 1px solid #FFB5A7; margin: auto;">
								<canvas id="game-canvas" width="350" height="350"></canvas>
								<div style="display: flex; justify-content: space-around; align-items: center;">
									<img id="insertCanvasContentButton" class="btn-sm"
										th:src="@{/forestage/forum/insertArticle/assets/insert.png}"
										style="cursor: pointer;">
									<img id="downloadButton" class="mx-auto"
										th:src="@{/forestage/forum/insertArticle/assets/download.png}"
										style="cursor: pointer;">
									<img id="clearCanvas" class="mt-10 mx-auto"
										th:src="@{/forestage/forum/insertArticle/assets/clean.png}"
										style="cursor: pointer;">


								</div>
							</div>

						</div>
					</div>
				</div>




				<script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
				<script>
					// 初始化 CKEditor 4
					var articleContentElement = document.getElementById('articleContent');
					var articleContentEditor = CKEDITOR.replace('articleContent');

					// 只有當文章內容為空時，才設定默認內容
					if (!articleContentElement.value) {
						articleContentEditor.setData('<p>Hello World😄</p>');
					}

					document.getElementById('updateForm').addEventListener('submit', function () {
						var editorContent = articleContentEditor.getData();
						document.getElementById('articleContent').value = editorContent;
					});

					document.querySelector("#insertCanvasContentButton").addEventListener("click", function () {
						console.log('insertCanvasContentButton 被點擊了');  // 在 click 事件觸發時輸出日誌

						// 獲取畫布內容
						var canvas = document.querySelector("#game-canvas");
						var image2 = canvas.toDataURL('image/png');

						console.log('圖片已生成，URL 為：', image2);  // 在圖片生成後輸出日誌

						// 插入畫布內容到文章內容中
						var html = '<img src="' + image2 + '" style="max-width:200px; max-height:200px;" alt="Canvas Image"/>';
						articleContentEditor.insertHtml(html);
					});
				</script>



				<!-- Include CKEditor JS
			<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script> -->

				<!-- Initialize CKEditor
			<script>
				CKEDITOR.replace('articleContent');
			</script> -->

				<!-- Preview uploaded image -->
				<script>
					function previewFile() {
						var files = document.querySelector('#articlePic').files;
						var preview = document.querySelector('#previewImage');
						preview.innerHTML = ""; // 清空預覽

						Array.from(files).forEach(file => {
							var reader = new FileReader();

							reader.onloadend = function () {
								var img = document.createElement('img'); // 創建新的 img 元素
								img.src = reader.result; // 將讀取到的結果賦值給 img
								img.style.width = '300px'; // 設定寬度
								preview.appendChild(img); // 添加到預覽區域
							}

							if (file) {
								reader.readAsDataURL(file);
							}
						});
					}
				</script>

				<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

				<script>
					document.querySelector('form').addEventListener('submit', function (e) {
						var hashTagInput = document.querySelector('input[name="hashtag"]');
						var hashTags = hashTagInput.value.split(' ');

						if (hashTags.length > 5) {
							e.preventDefault();
							swal("請注意", "Hashtag 標籤上限為 5 個，您已超過", "error");
						}
					});
				</script>



				<script>
					document.getElementById('downloadButton').addEventListener('click', function () {
						var canvas = document.getElementById('game-canvas');
					})


				</script>
				<!-- Game script -->
				<script th:src="@{/forestage/forum/mainPage/js/game.js}"></script>
				<!-- 結尾部分 -->
</body>

</html>