<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>管理攝影服務</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/backstage/shared_layout/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>


<body class="sb-nav-fixed">
    <nav th:replace="~{backstage/shared_layout/layout-static :: navbar}"> </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <div th:replace="~{backstage/shared_layout/layout-static :: sidebar}" id="layoutSidenav_nav"> </div>
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">攝影服務管理</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a th:href="@{index}">Dashboard</a></li>
                        <li class="breadcrumb-item active">攝影服務管理</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            攝影服務管理頁面
                            <br>
                            <form method="post" action="ReadAllPhotoService.controller">
                                <input type="submit" value="回到管理主頁面" />
                            </form>


                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            以下攝影資訊已更新
                        </div>
                        <div class="card-body">


                            <table>
                                <tr>
                                    <td>攝影服務ID</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceID}">
                                <tr>
                                    <td>攝影服務名稱</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceName}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.serviceName}"></td>
                                <tr>
                                    <td>攝影服務類型</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceType}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.serviceType}"></td>
                                <tr>
                                    <td>攝影服務價格</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.servicePrice}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.servicePrice}"></td>
                                <tr>
                                    <td>攝影服務時長</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceDuration}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.serviceDuration}"></td>
                                <tr>
                                    <td>攝影服務地點</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceLocation}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.serviceLocation}"></td>
                                <tr>
                                    <td>攝影服務創建者</td>
                                    <td><input type="text" readonly th:value="${oldPhotoServiceBean.serviceCreator}"></td>
                                    <td>→</td>
                                    <td><input type="text" readonly th:value="${newPhotoServiceBean.serviceCreator}"></td>
                            </table>

                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a260a05f7c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/backstage/shared_layout/js/scripts.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/backstage/shared_layout/js/datatables-simple-demo.js}"></script>
</body>

</html>