<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>管理攝影服務</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link th:href="@{/backstage/shared_layout/css/styles.css}" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>


<body class="sb-nav-fixed">
	<nav th:replace="~{backstage/shared_layout/layout-static :: navbar}"> </nav>

	<div id="layoutSidenav">
		<div th:replace="~{backstage/shared_layout/layout-static :: sidebar}" id="layoutSidenav_nav"> </div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">攝影服務管理</h1>
					<ol th:replace="~{backstage/photoService/shared_templates/breadcrumbs :: ps-breadcrumb-Create}"> </ol>
					<div class="card mb-4">
						<div class="card-body">
							<h5>攝影服務管理頁面</h5>
							<br>
							<form method="get" action="ReadAllPhotoService.controller">
								<input type="submit" value="回到管理主頁面" />
							</form>
						</div>
					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							請填入以下欄位以新增攝影服務
						</div>
						<div class="card-body">

							<form method="post" action="CreatePhotoService.controller" enctype="multipart/form-data">
								<table>
									<tr>
										<td>請輸入攝影服務名稱 : </td>
										<td><input id="serviceName" name="serviceName"></input></td>
									</tr>
									<tr>
										<td>請輸入攝影服務類型 : </td>
										<td><input id="serviceType" name="serviceType"></input></td>
									</tr>
									<tr>
										<td>請輸入攝影服務價格 : </td>
										<td><input id="servicePrice" name="servicePrice" /></td>
									</tr>
									<tr>
										<td>請輸入攝影服務時長 : </td>
										<td><input id="serviceDuration" name="serviceDuration" /></td>
									</tr>
									<tr>
										<td>請輸入攝影服務地點 : </td>
										<td><input id="serviceLocation" name="serviceLocation" /></td>
									</tr>
									<tr>
										<td>請輸入攝影服務創建者 : </td>
										<td><input id="serviceCreator" name="serviceCreator" /></td>
									</tr>
									<tr>
										<td>上傳風格範例圖片 : </td>
										<td><input type="file" id="inputRefPics" name="inputRefPics" multiple="true" /></td>
									</tr>
								</table>
								<input type="Submit" value="新增資料" />
								<input type="reset" value="重置" />
								<button id="oneClickFill">一鍵輸入</button>
							</form>
							<span th:text="${errorMsg}" />

						</div>
					</div>
				</div>
			</main>
			<footer th:replace="~{backstage/shared_layout/layout-static :: footer}"> </footer>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/a260a05f7c.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/backstage/shared_layout/js/scripts.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function () {
			$('#oneClickFill').click(function () {
				event.preventDefault();
				$('#serviceName').val('旅行拍攝 - 海外冒險');
				$('#serviceType').val(20);
				$('#servicePrice').val(188888);
				$('#serviceDuration').val(360);
				$('#serviceLocation').val(20);
				$('#serviceCreator').val(1021);
			});
		});


	</script>
</body>

</html>