<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<title>驗證帳號</title>
	<link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/forestage/register/css/registerVerify.css}" rel="stylesheet" />
	<script th:src="@{https://use.fontawesome.com/releases/v6.3.0/js/all.js}" crossorigin="anonymous"></script>
	<link th:href="@{/forestage/shared_layout/css/styles.css}" rel="stylesheet" />
</head>

<body>
	<div th:replace="~{forestage/shared/foreTopNav}"></div>
	<div class="row justify-content-center mt-7">
		<div class="col-lg-5 text-center">
			<a href="index.html"> <img src="assets/img/svg/logo.svg" alt="">
			</a>
			<div class="card mt-5">
				<div class="card-body py-5 px-lg-5">
					<div class="svg-icon svg-icon-xl text-purple">
						<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
							<title>ionicons-v5-g</title>
							<path d="M336,208V113a80,80,0,0,0-160,0v95"
								style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
							</path>
							<rect x="96" y="208" width="320" height="272" rx="48" ry="48"
								style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
							</rect>
						</svg>
					</div>
					<h3 class="fw-normal text-dark mt-4">兩步驟驗證</h3>
					<p class="mt-4 mb-1"></p>
					<p>請在下方輸入信箱收到的驗證碼</p>

					<div class="row mt-4 pt-2">
						<div class="col">
							<input id="firstInput" type="text" class="form-control form-control-lg text-center py-4"
								maxlength="1">
						</div>
						<div class="col">
							<input type="text" class="form-control form-control-lg text-center py-4" maxlength="1">
						</div>
						<div class="col">
							<input type="text" class="form-control form-control-lg text-center py-4" maxlength="1">
						</div>
						<div class="col">
							<input type="text" class="form-control form-control-lg text-center py-4" maxlength="1">
						</div>
						<div class="col">
							<input type="text" class="form-control form-control-lg text-center py-4" maxlength="1">
						</div>
						<div class="col">
							<input type="text" class="form-control form-control-lg text-center py-4" maxlength="1">
						</div>
					</div>

					<a th:href="@{/register/verify}" id="verifyButton"
						class="btn btn-purple btn-lg w-100 hover-lift-light mt-4">
						驗證我的帳號 </a>
				</div>
				<!-- 
				<div th:text="${session.code}"></div>
				<div th:text="${session.memberID}"></div>
					
				-->

			</div>

			<p class="text-center text-muted mt-4">
				沒有收到信嗎? <a href="#!" class="text-decoration-none ms-2"> 重新發送驗證碼
				</a>
			</p>
		</div>
			<div th:replace="~{forestage/shared/foreFooter}"></div>
	</div>
	<script th:src="@{https://code.jquery.com/jquery-3.6.4.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"
		crossorigin="anonymous"></script>
	<script>

		$(document).ready(function () {
			$('#firstInput').click(function () {
				event.preventDefault();

				// 獲取第一個輸入框
				var firstInput = document.querySelector('.form-control-lg:nth-child(1)');

				// 監聽輸入框的黏貼事件
				firstInput.addEventListener('paste', function (event) {
					// 防止默認的黏貼
					event.preventDefault();

					// 獲取剪貼板的文字
					var clipboardData = event.clipboardData || window.clipboardData;
					var pastedText = clipboardData.getData('text');

					// 檢查是否6個字
					if (/^\d{6}$/.test(pastedText)) {
						// 將每個數字分別填入六個框框
						var inputs = document.querySelectorAll('.form-control-lg');
						for (var i = 0; i < 6; i++) {
							inputs[i].value = pastedText.charAt(i);
						}
					}
				});
			})
		})



		$(document).ready(function () {
			$('#verifyButton').click(function () {
				event.preventDefault();

				var inputs = document.querySelectorAll('.form-control-lg');

				var values = [];

				for (var i = 0; i < inputs.length; i++) {
					var value = inputs[i].value;
					values.push(value);
				}

				var verificationCode = values.join('');

				const currentHref = window.location.href
				const ContextPathname = currentHref.substring(0, currentHref.indexOf('phocos') + 7)
				console.log(ContextPathname);

				console.log(verificationCode);

				Swal.fire({
					title: '確認提交',
					text: '您確定要提交驗證碼嗎？',
					icon: 'question',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: '是的',
					cancelButtonText: '取消'
				}).then((result) => {
					if (result.isConfirmed) {
						$.ajax({
							url: ContextPathname + 'register/verify',
							type: 'Post',
							data: {
								verificationCode: verificationCode
							},
							success: function (response) {
								console.log(response);

								Swal.fire({
									title: '驗證成功',
									text: '驗證會員成功，跳轉道login頁面',
									icon: 'success',
									confirmButtonText: '確定'
								}).then((result) => {
									if (result.isConfirmed) {
										location.href = 'http://localhost:8080/phocos/login';
									}
								});

							},
							error: function (xhr, status, error) {
								console.error(error);
								Swal.fire({
									title: '驗證錯誤',
									text: '驗證碼輸入錯誤，請重新再試一次',
									icon: 'error',
									confirmButtonText: '確定'
								});
							}
						});
					}
				});

			});
		});

		function moveToNextInput(event) {
			const target = event.target;
			if (target.value.length >= target.maxLength) {
				const next = target.parentElement.nextElementSibling;
				if (next) {
					const input = next.querySelector('input');
					if (input) {
						input.focus();
					}
				}
			}
		}




	</script>
</body>

</html>