<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>論壇管理後台</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
	<link th:href="@{/backstage/shared_layout/css/styles.css}" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<head th:replace="~{backstage/shared_layout/scriptSource}"></head>

<body class="sb-nav-fixed">
	<nav th:replace="~{backstage/shared_layout/layout-static :: navbar}"> </nav>

	<div id="layoutSidenav">
		<div th:replace="~{backstage/shared_layout/layout-static :: sidebar}" id="layoutSidenav_nav"> </div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">論壇管理系統</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">論壇管理</li>
					</ol>
					<div class="card mb-4">

					</div>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i>
							瀏覽所有文章
						</div>
						<div class="card-body">
							<table id="datatablesSimple">
								<thead>
									<tr>
										<th>文章編號</th>
										<th>文章標題</th>
										<th>發布時間</th>
										<th>最後修改時間</th>
										<th>文章狀態</th>
										<th>編輯 / 刪除</th>
										<th>查看報告</th> <!-- 新的列 -->
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>文章編號</th>
										<th>文章標題</th>
										<th>發布時間</th>
										<th>最後修改時間</th>
										<th>文章狀態</th>
										<th>編輯 / 刪除</th>
										<th>查看報告</th> <!-- 新的列 -->

									</tr>
								</tfoot>
								<tbody>
									<th:block th:each="article:${articleList}">
										<tr>
											<th scope="row" th:text="${article}?${article.articleId}"></th>
											<td th:text="${article}?${article.articleTitle}"></td>
											<td
												th:text="${article}?${#dates.format(article.articlePostTime,'yyyy-MM-dd, HH:mm:ss')}">
											</td>
											<td
												th:text="${article}?${#dates.format(article.articleUpdateTime,'yyyy-MM-dd, HH:mm:ss')}">
											</td>
											<td th:text="${article}?${article.articleState}"></td>

											<td>
												<form th:action="@{/forum/edit}" method="get" style="display: inline;">
													<input name="articleId" th:value="${article.articleId}"
														type="hidden" />
													<input type="submit" value="編輯"
														class="btn btn-outline-success btn-sm" />
												</form>
												<form th:action="@{/forum/delete}" method="post"
													style="display: inline;">
													<input name="articleId" th:value="${article.articleId}"
														type="hidden" />
													<input name="_method" th:value="delete" type="hidden" />
													<button type="submit"
														class="btn btn-outline-danger btn-sm deleteButton"
														id="deleteButton">刪除</button>
												</form>
											</td>
											<td>
												<button class="btn btn-outline-info btn-sm viewReportButton"
													th:data-article-id="${article.articleId}">查看報告</button>
											</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<!-- 模態框(Modal) -->
				<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="reportModalLabel">檢舉詳情</h5>
							</div>
							<div class="modal-body">
								<p id="reportTime"></p>
								<p id="reportType"></p>
								<p id="reportContent"></p>
							</div>
							<div class="modal-footer">
								<div class="modal-footer">
									<button type="button" class="btn btn-primary"
										id="sendReportEmailButton">寄送檢舉通知</button>
									<button type="button" class="btn btn-secondary" data-dismiss="modal"
										id="modalCloseButton">關閉</button>
								</div>

							</div>
						</div>
					</div>
				</div>


				<script>

					var reportStatus = {};  // 用來存儲報告狀態的對照表
					var currentReportId;  // 用來存儲當前檢舉的 ID

					$(document).ready(function () {
						// 獲取報告狀態
						$.ajax({
							url: '/phocos/reports/status',
							type: 'GET',
							success: function (mapping) {
								// mapping 是一個對象，其中包含文章 ID 和對應的檢舉 ID。
								$('.viewReportButton').each(function () {
									var button = $(this);
									var articleId = button.data('article-id');
									if (!mapping[articleId]) {
										button.hide();  // 如果沒有報告，就隱藏按鈕
									} else {
										button.data('report-id', mapping[articleId]);  // 將檢舉 ID 保存到按鈕中
									}
								});
							},
							error: function () {
								// TODO: 在這裡處理未能獲取報告狀態的情況，例如顯示錯誤消息。
							}
						});

						$('.viewReportButton').click(function () {
							var reportId = $(this).data('report-id');
							currentReportId = reportId;
							$.ajax({
								url: '/phocos/reports/' + reportId,
								type: 'GET',
								success: function (report) {
									// 使用 JavaScript 處理日期格式
									var date = new Date(report.reportTime);
									var formattedDate = new Intl.DateTimeFormat('zh-TW', {
										year: 'numeric',
										month: '2-digit',
										day: '2-digit',
										hour: '2-digit',
										minute: '2-digit',
										second: '2-digit'
									}).format(date);

									// 將報告的內容填充到模態框中
									$('#reportTime').text('檢舉時間：' + formattedDate);
									$('#reportType').text('檢舉類型：' + report.reportType);
									$('#reportContent').text('檢舉內容：' + report.reportContent);

									// 打開模態框
									$('#reportModal').modal('show');
								},
								error: function () {
									// TODO: 在這裡處理未能獲取報告的情況，例如顯示錯誤消息。
								}
							});
						});
					});


					$('#sendReportEmailButton').click(function () {
						if (currentReportId) {
							$.ajax({
								type: 'POST',
								url: '/phocos/reports/' + currentReportId + '/send-email',
								success: function (data) {
									alert(data.message);
								},
								error: function () {
									alert('郵件發送失敗');
								}
							});
						} else {
							alert('沒有選擇的檢舉來發送郵件');
						}
					});

					$(document).ready(function () {
						$('#modalCloseButton').click(function () {
							$('#reportModal').modal('hide');
						});
					});
				</script>

			</main>
			<footer th:replace="~{backstage/shared_layout/layout-static :: footer}" class="py-4 bg-light mt-auto">
			</footer>
		</div>
	</div>

</body>

</body>

</html>